################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Microservices/EventAPI/EventAPI/obj
/Microservices/IdentityAPI/IdentityAPI/obj
