<h2>Add Event</h2>
<div class="row">
  <div class="col-md-6 justify-content-center">
    <form class="form" [formGroup]="form" (submit)="addEvent()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" formControlName="title" name="title" class="form-control" />
        </div>
        <div class="form-group">
          <label for="speaker">Speaker</label>
          <input type="text" formControlName="speaker" name="speaker" class="form-control" />
        </div>
        <div class="form-group">
          <label for="startDate">Start Date</label>
          <input type="date" formControlName="startDate" name="startDate" class="form-control" />
        </div>
        <div class="form-group">
          <label for="endDate">End Date</label>
          <input type="date" formControlName="endDate" name="endDate" class="form-control" />
        </div>
        <div class="form-group">
          <label for="startTime">Start Time</label>
          <input type="time" formControlName="startTime" name="startTime" class="form-control" />
        </div>
        <div class="form-group">
          <label for="endTime">End Time</label>
          <input type="time" formControlName="endTime" name="endTime" class="form-control" />
        </div>
        <div class="form-group">
          <label for="host">Host</label>
          <input type="text" formControlName="host" name="host" class="form-control" />
        </div>
        <div class="form-group">
          <label for="registrationUrl">Registration Url</label>
          <input type="url" formControlName="registrationUrl" name="registrationUrl" class="form-control" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" name="btnSubmit">Save</button>
        </div>
    </form>
  </div>
</div>
