<div class="row">
  <div class="col-md-6 justify-content-center">
    <form class="form" [formGroup]="form" (submit)="register()">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" formControlName="firstName" name="firstName" class="form-control" />
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" formControlName="lastName" name="lastName" class="form-control" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" formControlName="email" name="email" class="form-control" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" name="password" class="form-control" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" name="btnSubmit">Register</button>
        </div>
    </form>
  </div>
</div>
