<div class="row">
  <div class="col-md-10 mx-auto">
    <h2>Event List</h2>
    <table class="table table-bordered table-striped table-sm">
      <thead class="table-dark">
        <th>Title</th>
        <th>Speaker</th>
        <th>Date</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let ev of events|async">
          <td>{{ev.title}}</td>
          <td>{{ev.speaker}}</td>
          <td>{{ev.startDate|date}} to {{ev.endDate|date}}</td>
          <td>
            <a [routerLink]="['/regevent',ev.id]" class="btn btn-success btn-sm"> Register </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
